# shellcheck disable=SC2148
# 
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone Asia/Shanghai --utc
rootpw --plaintext 123@@@
text
reboot
%include /tmp/include-url-command

# 
%include /tmp/include-disk-only-use
%include /tmp/include-bootloader
clearpart --all --initlabel
reqpart #  efi  biosboot 
part / --fstype=xfs --grow

# 
%packages --ignoremissing # el9 minimal.iso fedora Server repo/iso  tuned
@^Minimal Install
%include /tmp/include-packages-for-resize
%include /tmp/exclude-packages-for-vm
%end

# 
# firewall --disabled

#  selinux
selinux --disabled

#  kdump
%addon com_redhat_kdump --disable
%end

##############################################
%pre
distro=$(awk -F: '{ print $3 }' </etc/system-release-cpe)
releasever=$(awk -F: '{ print $5 }' </etc/system-release-cpe)

#  extragrubeval
#  extra_confhome extra_mirrorlist extra_main_disk
prefix=extra
for var in $(grep -o "\b${prefix}_[^ ]*" /proc/cmdline | xargs); do
    eval "$(echo "$var" | sed -E "s/${prefix}_([^=]*)=(.*)/\1='\2'/")"
done

# centos7  --no-check-certificate

# 
include=/tmp/include-disk-only-use
xda=$(wget --no-check-certificate --tries=5 "$confhome/get-xda.sh" -O- | sh -s)
echo "ignoredisk --only-use=$xda" >$include

#  tty
include=/tmp/include-bootloader
# shellcheck disable=SC2154
console_cmdline=$(wget --no-check-certificate --tries=5 "$confhome/ttys.sh" -O- | sh -s console=)
echo "bootloader --append=\"$console_cmdline\"" >$include

#  installer 
include=/tmp/include-packages-for-resize
touch $include
if [ -e /dev/disk/by-label/installer ]; then
    # 1gzram f38
    # swap
    ram_size=$(lsmem -b 2>/dev/null | grep 'Total online memory:' | awk '{ print $NF/1024/1024 }')
    if [ -z "$ram_size" ] || [ "$ram_size" -le 1024 ]; then
        mount /dev/disk/by-label/installer /run/install/repo -o remount,rw
        swapfile=/run/install/repo/swapfile
        if command -v fallocate; then
            fallocate -l 1G $swapfile
        else
            dd if=/dev/zero of=$swapfile bs=1M count=1024
        fi
        chmod 0600 $swapfile
        mkswap $swapfile
        swapon $swapfile
    fi

    # feroda  cronie
    echo cronie >>$include

    # el7 parted growpart  gdisk  gpt 
    if [ "$releasever" = "7" ]; then
        echo cloud-utils-growpart >>$include
        echo gdisk >>$include
    fi
fi

# 
include=/tmp/exclude-packages-for-vm
touch $include
if systemd-detect-virt -v; then
    cat <<EOF >$include
        # usb usb 
        # -usb_modeswitch
        # -usbutils

        # 
        -iw
        -crda
        -rfkill
        -iwl*-firmware

        # 
        -irqbalance # +
        -microcode_ctl
        -smartmontools

        # 
        -aic94xx-firmware
        -alsa-firmware
        -ivtv-firmware
        # -linux-firmware # centos 8

        # fedora 
        -amd-gpu-firmware
        -atheros-firmware
        -brcmfmac-firmware
        -intel-gpu-firmware
        -mt7xxx-firmware
        -nvidia-gpu-firmware
        -realtek-firmware
EOF
fi

# 
include=/tmp/include-url-command
# shellcheck disable=SC2154
if [ "$localtest" = 1 ]; then
    echo "url --url=$confhome/$releasever/" >$include
    # echo cdrom >$include
else
    echo "url --mirrorlist=$mirrorlist" >$include
    # el7/fedora,  updates repo 
    if [ "$releasever" = "7" ] || [ "$distro" = "fedoraproject" ]; then
        echo "repo --name=updates" >>$include
    fi
fi
%end

##############################################
%post
# el9/fedorasshdroot
# rootpw --allow-ssh 9.1 
distro=$(awk -F: '{ print $3 }' </etc/system-release-cpe)
releasever=$(awk -F: '{ print $5 }' </etc/system-release-cpe)
if [ "$releasever" = "9" ] || [ "$distro" = "fedoraproject" ]; then
    echo "PermitRootLogin yes" >/etc/ssh/sshd_config.d/01-permitrootlogin.conf
fi

# installer
if [ -e /dev/disk/by-label/installer ]; then
    #  extra_localtest extra_confhome extra_mirrorlist
    prefix=extra
    for var in $(grep -o "\b${prefix}_[^ ]*" /proc/cmdline | xargs); do
        eval "$(echo "$var" | sed -E "s/${prefix}_([^=]*)=(.*)/\1='\2'/")"
    done

    cd /
    curl -O "$confhome/resize.sh"
    echo '@reboot root bash /resize.sh' >/etc/cron.d/resize
fi
%end
